.no-background{
    background-color: transparent !important;
    padding-right: 15px;
}
.modal-open .modal {
  overflow: hidden;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-header h4 {
  margin: 0;
}
.modal-dialog {
  width:75%;
  padding: 0;
  overflow: initial !important;
}
.modal-body{
  max-height: calc(100vh - 200px) !important ;
  overflow-y: auto !important;
}