<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>R K Paper Products</title>
	<meta name="description" content="Printing new ideas with packaging reality.">
	<meta name="keywords" content="Printing, printing, packaging, Packaging, carving, emborsing">
	<meta name="author" content="Amitmoon" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/site.webmanifest">
	<link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/lightbox.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://smtpjs.com/v2/smtp.js"></script>
	<!-- =======================================================
    Author: Amit Moondra
  ======================================================= -->
</head>

<body id="top" data-spy="scroll">
	<div id="app">
		<!--top header-->

		<header id="home">

			<section class="top-nav hidden-xs">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="top-left">

								<ul>
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-vk" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
								</ul>

							</div>
						</div>

						<div class="col-md-6">
							<div class="top-right">
								<p>Location:
									<span>Thane: 401105</span>
								</p>
							</div>
						</div>

					</div>
				</div>
			</section>

			<!--main-nav-->

			<div id="main-nav">

				<nav class="navbar">
					<div class="container">

						<div class="navbar-header">
							<a href="index.php" class="navbar-left no-background">
								<img class="img-responsive" src="images/logo/Icon-72.png">
							</a>
							<a href="index.php" class="navbar-brand">R K Paper Product</a>
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ftheme">
								<span class="sr-only">Toggle</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<div class="navbar-collapse collapse" id="ftheme">

							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="#home">home</a>
								</li>
								<li>
									<a href="#product">products</a>
								</li>
								<li>
									<a href="#infrastructure">infrastructure</a>
								</li>
								<li>
									<a href="#about">about us</a>
								</li>
								<li>
									<a href="#contact">contact</a>
								</li>
							</ul>

						</div>

						<div class="search-form">
							<form>
								<input type="text" id="s" size="40" placeholder="Search..." />
							</form>
						</div>

					</div>
				</nav>
			</div>

		</header>

		<!--slider-->
		<div id="slider" class="flexslider">

			<ul class="slides">
				<li>
					<img src="images/slider/slider1.jpg">

					<div class="caption">
						<h2>
							<span>Technology in print</span>
						</h2>
						<h2>
							<span>Best Machine</span>
						</h2>
						<p>We believe latest technology provides the best service.</p>
					</div>

				</li>
				<li>
					<img src="images/slider/slider2.jpg">

					<div class="caption">
						<h2>
							<span>yet another slide</span>
						</h2>
						<h2>
							<span>html theme</span>
						</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<button class="btn">Read More</button>
					</div>

				</li>
				<li>
					<img src="images/slider/slider3.jpg">

					<div class="caption">
						<h2>
							<span>one more slide</span>
						</h2>
						<h2>
							<span>html theme</span>
						</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<button class="btn">Read More</button>
					</div>

				</li>
			</ul>

		</div>
		<!--product-->
		<div id="product">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<div class="product-heading">
							<h2>products</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus magna,malesuada porta elementum vitae.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="product-thumbnail">
				<div class="container-fluid">
					<div class="row">
						<!--using Vue.js please see the customVue.js file for object reference-->
						<div class="col-xs-6 col-sm-3 col-md-3" v-for="product in products">
							<div class="item">
								<img v-bind:src="product.src" v-bind:alt="product.name">
								<div class="caption" v-on:click="openModal(product.name)">
									<i class="fa fa-search" aria-hidden="true"></i>
									<p>{{product.name}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!--infrastructure-->
		<div id="infrastructure">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<div class="infrastructure-heading">
							<h2>infrastructure</h2>
							<p>We have all the best industry level machinaries to deliver the best printing and packaging products.</p>
						</div>
					</div>
				</div>
			</div>

			<!--infrastructures wrapper-->
			<section class="infrastructures-style-one">
				<div class="outer-box clearfix">

					<div class="infrastructures-column">
						<div class="content-outer">
							<div class="row clearfix">

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Multi-culour Offset Printing
									</div>
								</div>

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Die cutting and Embossing
									</div>
								</div>

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Pasting
									</div>
								</div>

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Lamination – BOPP, MET-PET, Thermal, Matte
									</div>
								</div>

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Spot-UV, Drip-UV
									</div>
								</div>

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Varnish
									</div>
								</div>

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Foiling- Gold/Silver
									</div>
								</div>

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Folding
									</div>
								</div>

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Cutting/Polar Cutting
									</div>
								</div>

								<div class="col-sm-12 service-row">

									<div class="col-sm-2">

										<i class="fa fa-plus"></i>
									</div>

									<div class="col-sm-10">
										Shrink Wrapping
									</div>
								</div>


							</div>
						</div>
					</div>

					<!--Content Column-->
					<div class="content-column clearfix">
						<div class="content-box">
							<div class="inner-box">
								<!--Section Title-->
								<div class="sec-title aligned-right">
									<h2>
										<span>Our Infrastructure</span>
									</h2>
								</div>
								<div class="text">We have a well-equipped infrastructure to provide complete Printing and Packaging Solution to our customers. .
								</div>

							</div>
						</div>
					</div>


				</div>
			</section>
		</div>

		<!--about-->
		<div id="about">

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<div class="about-heading">
							<h2>about</h2>
							<p>We are a Printing and Packaging Company with our manufacturing facilities present in Mumbai and Goa.</p>
						</div>
					</div>
				</div>
			</div>

			<!--about wrapper left-->
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="sub-title">COMPANY PROFILE</h3>
						<hr>
						<p>The company has been in the business for more than 15 years now, established by Mr. Rajendra Pathak the Managing Director
							of the Company.
						</p>
						<p>
							The Production Facilities of our units in Mumbai and Goa have Multi-culour Offset Printing, Die cutting, Pasting, Lamination,
							Spot-UV, Varnish, Folding, Cutting to cater to our customer’s needs.
						</p>
						<p>
							We have a capacity to produce around 50,000 cartons in a day
						</p>

					</div>

					<div class="col-sm-12">
						<h3 class="sub-title">OUR MOTO</h3>
						<hr>
						<p>We believe in delivering the best Quality and Service to our customers at the least possible cost.
						</p>

					</div>

					<h2></h2>
				</div>
			</div>

			<!--about bg-->
			<div id="about-bg">

				<div class="container">
					<div class="row">

						<div class="about-bg-heading">
							<h1>sucessfull stats about us</h1>
							<p>what we have achieved so far</p>
						</div>

						<div class=" col-xs-12 col-md-3">
							<div class="about-bg-wrapper">
								<span class="count">
									<h1>
										<span class="border">32</span>15</h1>
								</span>
								<p>happy client</p>
							</div>
						</div>

						<div class="col-xs-12 col-md-3">
							<div class="about-bg-wrapper">
								<span class="count">
									<h1>2217</h1>
								</span>
								<p>projects</p>
							</div>
						</div>

						<div class="col-xs-12 col-md-3">
							<div class="about-bg-wrapper">
								<span class="count">
									<h1>1522</h1>
								</span>
								<p>branches</p>
							</div>
						</div>

						<div class="col-xs-12 col-md-3">
							<div class="about-bg-wrapper">
								<span class="count">
									<h1>3151</h1>
								</span>
								<p>expert team</p>
							</div>
						</div>

					</div>
				</div>

				<div class="cover"></div>

			</div>
		</div>




		<!--contact form-->
		<div id="contact">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<div class="contact-heading">
							<h2>contact</h2>
							<p>Please let us know what kind of product or services you are looking for, by writing to us.</p>
						</div>
					</div>
				</div>

				<div class="content">
					<div class="row">
						<div id="sendmessage">Your message has been sent. Thank you!</div>
						<div id="errormessage"></div>

						<form v-on:submit.prevent="submitForm" method="post" role="form" class="form contactForm">
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" name="name" class="form-control" v-model="name" id="name" placeholder="Your Name" data-rule="minlen:4"
									 data-msg="Please enter at least 4 chars" required />
									<div class="validation"></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="email" class="form-control" name="email" id="email" v-model="email" placeholder="Your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
									 data-rule="email" data-msg="Please enter a valid email" required />
									<div class="validation"></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input type="text" class="form-control" name="subject" id="subject" v-model="subject" placeholder="Subject" data-rule="minlen:4"
									 data-msg="Please enter at least 8 chars of subject" required />
									<div class="validation"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea class="form-control" name="message" rows="5" data-rule="required" v-model="body" data-msg="Please write something for us"
									 placeholder="Message" required></textarea>
									<div class="validation"></div>
								</div>
							</div>
							<div class="submit">
								<button class="btn btn-primary ml-15" type="submit">Send Now</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="google-map" data-latitude="19.286250" data-longitude="72.898608"></div>
		</div>


		<!--client-->
		<div id="client">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-2" v-for="clientLogo in clientsLogo">
						<span>
							<img v-bind:src="clientLogo" alt="">
						</span>
					</div>
				</div>
			</div>
		</div>

		<!--footer-->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="footer-heading">
							<h3>
								<span>about</span> us</h3>
							<p>We are a Printing and Packaging Company with our manufacturing facilities present in Mumbai and Goa.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="footer-heading">
							<h3>
								<span>latest</span> news</h3>
							<!--<ul>
								<li>
									<a href="#">Trends don't matter, but techniques do</a>
								</li>
								<li>
									<a href="#">Trends don't matter, but techniques do</a>
								</li>
								<li>
									<a href="#">Trends don't matter, but techniques do</a>
								</li>
								<li>
									<a href="#">Trends don't matter, but techniques do</a>
								</li>
							</ul>-->
						</div>
					</div>

					<div class="col-md-4">
						<div class="footer-heading">
							<h3>
								<span>follow</span> us on instagram</h3>
							<div class="insta">
								<ul>
									<img src="images/footer/footer1.jpg" alt="">
									<img src="images/footer/footer2.jpg" alt="">
									<img src="images/footer/footer3.jpg" alt="">
									<img src="images/footer/footer4.jpg" alt="">
									<img src="images/footer/footer5.jpg" alt="">
									<img src="images/footer/footer6.jpg" alt="">
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!--bottom footer-->
		<div id="bottom-footer" class="hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="footer-left">
							&copy; R.K. Paper Products. All rights reserved
							<div class="credits">
								<!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyBiz
              -->
								Designed by
								<a href="javascript:void(0)">AmitMoon</a>
							</div>
						</div>
					</div>

					<div class="col-md-8">
						<div class="footer-right">
							<ul class="list-unstyled list-inline pull-right">
								<li>
									<a href="#home">Home</a>
								</li>
								<li>
									<a href="#about">About</a>
								</li>
								<li>
									<a href="#infrastructure">infrastructure</a>
								</li>
								<li>
									<a href="#portfolo">product</a>
								</li>
								<li>
									<a href="#contact">Contact</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 class="modal-title" id="myModalLabel">
							<strong>{{currentProductName}}</strong>
						</h3>
					</div>
					<div class="modal-body">
						<div class="container-fluid bg-3 text-center">
							<div class="row">
								<div class="col-sm-4 item" v-for="currentProduct in currentProducts">
									<h4>{{currentProduct.info}}</h4>
									<div v-on:click="setCurrentImageSrc(currentProduct.src)">
										<img v-bind:src="currentProduct.src" class="image-fluid" v-bind:alt="currentProduct.info">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- jQuery -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.inview.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvw55UwVGvFLSKStzKuJg7a9cpVjNl4fU"></script>
		<script src="js/script.js"></script>
		<script src="js/lightbox.js"></script>
		<script src="js/customVue.js"></script>

	</div>
</body>

</html>